body {
    width: 100%;
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 300;
    color: #000000;
    font-family: "Lexend", Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 10px 40px;
    border: 2px solid #6666;
    background-color: rgb(19, 84, 155);

}

header .logo {
    display: inline-flex;
    width: 100px;
}

header nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

header nav a {
    margin: 0 10px;
    display: inline-block;
    width: 100px;
    text-align: center;
}

header h1 {
    display: inline-flex;
    text-align: center;
    display: flex;

}
main h2{
    text-align: center;
}
.galeriaImagenes {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.galeriaImagenes img:hover {
    transform: scale(1.05);

}

.galeriaImagenes {
    width: 90%;
    margin: 30px 5%;
    text-align: center;

}

.contenedorGaleria {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 15px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.contenedorGaleria img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.cuadricula {

    background-color: #fff;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cuadricula .instrumentos {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main section {
    text-align: center;

}

section article {

    margin: 10px 10px;
    display: inline-block;
    text-align: center;
}

.VideoPromo {
    margin: 45px 10px;
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.videoPrincipal {

    display: block;
    margin: 0 auto;
    max-width: 80%;
}


.ConVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* para que ocupe toda la pantalla */
}


/* Selector universal */
* {
    box-sizing: border-box;
}

/* Selectores de atributo */
img[alt] {
    border-radius: 10px;
}

a[href] {
    cursor: pointer;
    font-weight: bold;
}

/* Descendiente */
section p {
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
}



nav a:hover {
    background-color: #0e4176;
    border-radius: 8px;
    padding: 4px;
}

nav a:active {
    color: #e7ecf1;
}

nav a:visited {
    color: purple;
}

/* Para botones */
button:hover {
    background-color: #cfd6f0;
    cursor: pointer;
}

/* -------------------------------------------
   PSEUDOELEMENTOS
------------------------------------------- */



p::first-line {
    font-style: italic;
    font-size: 20px;
}

button::after {
    content: " 🎵";
}

#tituloPrincipal {
    letter-spacing: 2px;
    text-transform: uppercase;
}



/************************************************************

Ajustes a diferentes resoliciones 

************************************************************/


/* Header y navegación responsivos */
@media (max-width: 1086px) {

    header {
        padding: 0 ;
        flex-direction: column;
        height: auto;
        padding: 0 100px;
        text-align: center;
        border: 0px;
        gap: 10px;
    }

    header nav {
        flex-direction: column;
 
    }

    header nav a {
        padding: 8px 12px;
    }
}

@media (max-width: 426px) {

    header {
        padding: 0 ;
        flex-direction: column;
        height: auto;
        padding: 20px;
        text-align: center;
        gap: 10px;
    }

    header nav {
        flex-direction: column;
        gap: 5px;
    }

    header nav a {
        width: auto;
        padding: 8px 12px;
    }
}

@media (prefers-color-scheme: dark){
    body { background:#111; color:#eee; }
}

